@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.page-transition {
  opacity: 0;
  transition: opacity 0.5s ease;
}


.page-transition.active {
  opacity: 1;
}
